<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/editProduct.css" />
</head>

<body>
  <div class="container">
    <div class="container__product">
      <div class="container__product__info">
        <div>
          <label for="info__productName">Tên sản phẩm:</label>
          <input type="text" id="info__productName" name="productName" placeholder="Vd: Đèn ông sao" required />
        </div>
        <div>
          <label for="info__productCode">Mã sản phẩm:</label>
          <input type="text" id="info__productCode" name="productCode" placeholder="Vd: PR1234" required />
        </div>
        <div id="priceNoChoicePart">
          <label for="priceNoChoice">Giá cả:</label>
          <input type="text" id="priceNoChoice" name="priceNoChoice" placeholder="Vd: 15000" required />
        </div>
        <div id="category-dropdown" class="category-dropdown">
          <div class="category-header" id="category_header">
            <span class="arrow">▼</span>
            <label for="category">Thể loại:</label>
          </div>
          <div id="categoryTree" class="category__tree" name="category__infor">
            <div class="category__tree__branch">

            </div>
            <div class="category__tree__branch">

            </div>
          </div>
        </div>

        <div>
          <label for="description">Mô tả:</label>
          <textarea id="description" name="description" placeholder="Đây là sản phẩm..." required></textarea>
        </div>
      </div>

      <div class="container__product__images">
        <div id="selected-images" class="images__selected-images"></div>
        <label for="image">Ảnh sản phẩm:</label>
        <input type="file" class="images_input" id="image-input" name="image" multiple />
      </div>
    </div>
    <div class="overlay" id="overlay">
      <div class="overlay-content" id="overlay-content"></div>
    </div>

    <!-- Thêm phân loại -->
    <button id="showChoice" onclick="showFormChoice()" class="addElement">Thêm phân loại</button>
    <div id="choiceTitle" class="title">
      <p>PHÂN LOẠI</p>
    </div>
    <div id="choice" class="container__variant">

      <div class="container__variant__addChoice">
        <button id="addChoice" onclick="addFormChoice()" class="addElement">Thêm phân loại</button>
        <button id="saveChoice" onclick="updateAndDisplay()" class="saveElement">Lưu phân loại</button>
      </div>
    </div>

    <!-- Thêm ngoại lệ -->
    <button id="showExceptionForm" onclick="showExceptionForm()" class="addElement">Thêm ngoại lệ</button>
    <div id="exceptionTitle" class="title">
      <p>NGOẠI LỆ</p>
    </div>
    <div id="exception" class="container__exception">
      <!-- <div class="container__exception__choice">
      <div class="choice__choiceInfo">
        <select class="select__exception">
          <option all="true" disabled selected>--- Chọn màu sắc ---</option>
          <option value="red">Đỏ</option>
          <option value="blue">Xanh</option>
          <option value="green">Lục</option>
        </select>
        <select class="select__exception">
          <option all="true" disabled selected>--- Chọn chất liệu ---</option>
          <option value="red">Vàng</option>
          <option value="blue">Kim cương</option>
        </select>
      </div>
      
      <div class="choice__addValue">
        <input type="text" id="priceChoice" name="priceChoice" placeholder="Giá cả" required />
        <button class="plus-button" onclick="addExceptionValue(this)">+</button>
      </div>
    </div>-->
      <div class="container__variant__addChoice">
        <button id="addExceptionForm" onclick="addExceptionForm()" class="addElement">Thêm ngoại lệ</button>
      </div>
    </div>

    <!-- Thêm mã giảm giá -->
    <button id="showSaleForm" onclick="showSaleForm()" class="addElement">Thêm mã giảm giá</button>
    <div id="saleTitle" class="title">
      <p>MÃ GIẢM GIÁ</p>
    </div>
    <div id="sale" class="container__sale">
      <!--<div class="container__sale__choice">
      <div class="choice__choiceInfo">
        <select class="selectedChoice">
          <option disabled selected>Màu sắc</option>
          <option value="red">Đỏ</option>
          <option value="blue">Xanh</option>
          <option value="green">Lục</option>
        </select>
        <select class="selectedChoice">
          <option disabled selected>Chất liệu</option>
          <option value="red">Vàng</option>
          <option value="blue">Kim cương</option>
        </select>
      </div>
      <div class="choice__saleChoice">
        <div class="sale-infor">
          <label for="saleNumber">Giảm giá:</label>
          <input type="text" id="saleNumber" name="saleNumber" placeholder="Vd: 50" required />%
        </div>
        <div class="sale-infor">
          <label for="startDate">Bắt đầu:</label>
          <input type="datetime-local" id="startDate" name="startDate" required />
        </div>
        <div class="sale-infor">
          <label for="toDate">Kết thúc:</label>
          <input type="datetime-local" id="toDate" name="toDate" required />
        </div>
      </div>
      
      <div class="choice__addValue">
        <button onclick="addSaleChoiceValue(this)" class="delete-button">x</button>
      </div>
    </div>-->
      <div class="container__variant__addChoice">
        <button id="showExceptionForm" onclick="addSaleForm()" class="addElement">Thêm mã giảm giá</button>
      </div>
    </div>
  </div>
  <div class="submit">
    <button type="submit" onclick="editProduct()">Sửa</button>
  </div>

</body>
<script src="/js/editProduct.js"></script>
<script src="/js/category_tree.js"></script>

</html>