<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/viewProduct.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header"></div>
    <div class="db-product">
      <div class="head-table">
        <div class="search">
          <i class="fa fa-search"></i>
          <input
            id="productSearch"
            type="search"
            placeholder="Nhập tên sản phẩm"
          />
        </div>
      </div>
      <table id="database">
        <thead>
          <tr>
            <th class="main-infor">
              SẢN PHẨM 
              <span class="arrow" idProduct="${listProduct[i].id}" id="sortByName">▼</span>
            </th>
            <th>
              MÃ SẢN PHẨM
              <span class="arrow" idProduct="${listProduct[i].id}" id="sortByCode">▼</span>
            </th>
            <th>TRẠNG THÁI</th>
            <th>HÀNH ĐỘNG</th>
          </tr>
        </thead>
        <tbody id="productInformation">
          <tr>
            <td class="main-infor ">
              <a href="https://www.facebook.com/">
                <img
                  class="product-img"
                  src="https://thuonghieuvaphapluat.vn/Images/hanhnm/2020/11/18/image001.jpg"
                />
                <div class="product-name">
                  <h5>Vòng cổ</h5>
                </div>
              </a>
            </td>
            <td>Violet2015</td>
            <td>
              <label class="toggle">
                <input type="checkbox" id="toggleSwitch">
                <span class="slider"></span>
              </label>
            </td>
            <td class="action">
                <a href="/fe/product/edit/1" class="edit" data-toogle="tooltip" data-original-title="Sửa">
                    <i class="fa fa-pencil"></i>
                </a>
                <a class="delete" data-toogle="tooltip" data-original-title="Xoá">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
          </tr>
        </tbody>
        
      </table>
      <div class="pagination" id = "pagination">
        <button class="page-button.open">1</button>
        <button class="page-button">2</button>
        <button class="page-button">3</button>
        <!-- ... Thêm các nút số trang khác ở đây ... -->
      </div>
    </div>
  </body>
  <script src="/js/searchProductByName.js"></script>
</html>
