* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'UTM Avo';
  src: url('/Font/UTM-Avo.ttf') format('truetype'); /* Thay đổi đường dẫn đến font chữ */
  /* Nếu font chữ có các định dạng khác nhau như .woff hoặc .woff2, bạn có thể thêm các dòng dưới đây: 
  src: url('./path/to/utm-avo.woff') format('woff'),
  src: url('./path/to/utm-avo.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}

body {
  position: relative;
  font-family: "UTM Avo", "Arial",sans-serif;
  background-color: #f4f4f4;
}

input[type="text"], input[type="datetime-local"], select {
  width: 10vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
  font-size: 100%; 
  white-space: nowrap;
}

select{
  cursor: pointer;
  margin-right: 5px;
  font-size: 80%;
  white-space: nowrap;
}

input:focus, select,
#description:focus {
  outline: none;
  border-color: #2196F3; 
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.6); 
}

#description{
  width: 200%;
  height: 30vh;
  resize: none;
  padding: 5px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: scroll;
  text-align: justify;
  padding: 5% ;
  color: #020407;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #0e4a8a;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container__product{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
}

.container .container__product .container__product__info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: inherit;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container__product__info div input[type="text"]{
  width: 20vw;
}

/*--------------------------Image----------------------------*/
.container .container__product .container__product__images{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay-content img,
.overlay-content video,
.overlay {
  backdrop-filter: blur(5px); /* Điều chỉnh mức độ mờ tùy thích */
}
.overlay-content img,
.overlay-content video {
  max-width: auto;
  max-height: 80vh;
}


.images__selected-images img,
.images__selected-images video {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
}


.container__product__info label,
.container__product__images label,
.choiceValue__tabs .tab-name label,
.sale-infor label {
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

.container__product__images {
  position: relative;
}

.images__selected-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.selected-image-wrapper {
  position: relative;
}

.container__product__images .selected-image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
}

/*------------------------------------------------------*/

.delete-button {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 14px;
}

.container .container__variant,
.container .container__exception,
.container .container__sale{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}


.container .container__variant .container__variant__choice, 
.container .container__exception .container__exception__choice,
.container .container__sale .container__sale__choice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 5px;
  margin: 20px;

}


.choice__choiceInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; 
  border-radius: 5px;
  justify-content: flex-start;
}

.choice__saleChoice{
  display: flex;
  flex-direction: row;
  align-items: center; 
  border-radius: 5px;
  justify-content: flex-start;
  gap: 15px;
}

.choice__choiceInfo .choice__choiceInfo__choiceValue{
  display: flex;
  flex-direction: row;
}

.choice__choiceInfo .choice__choiceInfo__choiceValue input{
  margin-left: 10px;
  width: 90px;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-right: 30px; /* Để nhường chỗ cho nút x */
}

.input-container button {
  position: absolute;
  top: -5px;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #f02a10;
  color: #fcf7f6;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}



.choice__choiceInfo .choice__choiceInfo__choiceName{
  margin-right: 20px;

}

.choice__choiceInfo .choice__choiceInfo__exception{
  display: flex;
  flex-direction: row;
}

.choice__choiceInfo select{
  width: 10vw;
}



.choice-value-input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.plus-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px dashed #4CAF50;
  border-radius: 5px;
  background-color: transparent;
  color: #4CAF50;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}


.plus-button:hover {
  background-color: #45a049;
  color: #fff;
}

.remove-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px dashed #e01313;
  border-radius: 5px;
  background-color: transparent;
  color: #e01313;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}


.remove-button:hover {
  background-color: #e01313;
  color: #fff;
}

.sale-infor label,
.sale-date label {
  font-weight: bold;
  margin-bottom: 5px;
}


#choiceTabs{
  display: inline-block;
}

.sale-tab button,
.tab-number-choiceValue #choiceTabs button,
.tab-number-choiceValue button {
  padding: 5px 10px;
  background-color: #2665d8;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.sale-tab button.active,
.tab-number-choiceValue button .active {
  background-color: #007bff;
  color: #fff;
}



.tab-name-choiceValue label {
  display: block;
  margin-bottom: 5px;
}

.tab-name-choiceValue input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container__variant__choiceValue .choiceValue__content{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

.choiceValue__content .choiceValue__sale{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
  max-width: 600px;
}

.choiceValue__sale .sale-off{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 10px;
}

.sale-date, input[name="startDate"], input[name="toDate"]{
  width: fit-content;
}

input[name="saleNumber"]{
  width: 100px;
}

.container__variant__choiceValue .choiceValue__content .choiceValue__add button {
  background-color: #28a745;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active .add-choice:hover,
.container__variant__choiceValue .choiceValue__content .choiceValue__add button:hover {
  background-color: #218838;
}

/*--------------------------Category Tree----------------------------*/

.category__tree {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 30vh;
  width: 20vw;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.category__tree__branch input{
  display: inline-block;
}

.category-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.arrow {
  display: inline;
  transition: transform 0.2s;
  margin-left: 15px;
  cursor: pointer;
}

.open .arrow {
  transform: rotate(90deg);
}


.branch__name {
  font-weight: bold;
  margin-bottom: 10px;
}

.branch__list {
  list-style-type: none;
  padding-left: 15px;
}

.branch__label {
  display: inline-block!important;
}
.branch__checkbox {
  vertical-align: initial;
    margin-right: 10px;
}


.branch__item {
  margin-bottom: 5px;
}

.branch__list .branch__list {
  margin-left: 10px;
  border-left: 1px dashed #ccc;
  padding-left: 10px;
}

.branch__list .branch__item {
  padding-left: 10px;
  font-style: italic;
}

.branch__label:hover span{
  box-shadow: 0 0 5px rgba(18, 235, 144, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.branch__label:hover input {
  box-shadow: 0 0 5px rgba(81, 103, 230, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

/*--------------------------Submit button----------------------------*/

.submit {
  display: flex;
  position: fixed;
  bottom: 8px;
  left: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  box-shadow: 0px 0px 10px rgba(20, 80, 209, 0.2);
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.submit button:hover {
  background-color: #0056b3;
}

.addElement {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addElement:hover {
  background-color: #45a049; 
  box-shadow: #f4f4f4;
}
