<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/fe/login.css" />
</head>

<body>
  <div id="header"></div>
  <div class="form-data">
    <h1>Hello</h1>
    <div id="login_error">
      <p>Hello error</p>
    </div>
    <div class="info">
      <label for="username">Tên đăng nhập</label>
      <input id="username" class="info-data" type="text" />
    </div>
    <div class="info">
      <label for="password">Mật khẩu</label>
      <input id="password" class="info-data" type="password" />
    </div>
    <div class="btn">
      <button class="btn-login" type="submit" onclick="login()">
        Log in
      </button>
    </div>
  </div>
</body>
<script src="login.js"></script>

</html>