@font-face {
  font-family: 'UTM Avo';
  src: url('/Font/UTM-Avo.ttf') format('truetype'); /* Thay đổi đường dẫn đến font chữ */
  /* Nếu font chữ có các định dạng khác nhau như .woff hoặc .woff2, bạn có thể thêm các dòng dưới đây: 
  src: url('./path/to/utm-avo.woff') format('woff'),
  src: url('./path/to/utm-avo.woff2') format('woff2'), */
  font-weight: normal;
  font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'UTM Avo', "Roboto", Arial, sans-serif;
    color: #000;
  }
  a {
    text-decoration: none;
  }
  
  body {
    padding-top: 10px;
  }

  #container {
    
  }
 
  
  #container .container__content {
    margin-top: 30px;
  }
  .container__content .content__product {
    max-width: 1200px;
    margin: auto;
  }
  
  
  
  .productList {
    margin-top: 15px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .productList .productDetail {
    position: relative;
    width: 22.75%;
    height: 386px;
    overflow: hidden;
  }
  .productDetail a {
    position: relative;
  }
  .productDetail a .backgroundImg{
    
    width: 100%;
    padding-bottom: 100%;
  } 
  .productDetail a img {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: block;
    border: solid 1px #dddfde;
    padding: 4px;
    object-fit: cover;
  }
  .productDetail .productDetail__content {
    display: flex;
    flex-wrap: wrap;
    
  }
  .productDetail__content .productName {
    line-height: 18px;
    margin: 10px 0;
    width: 100%;
  }
  .productName a {
  }
  .productName a strong {
    font-size: 18px;
  }
  .productDetail__content .product__priceSale {
    margin-right: 10px;
  }
  .product__priceSale span {
    color: red;
    font-size: 20px;
  }
  .productDetail__content .product__priceOrigin {
   
    
  }
  .product__priceOrigin span {
    font-size: 20px;
    text-decoration: line-through;
  }
  .productDetail .productDetail__sale {
    height: 51px;
    width: 51px;
    line-height: 51px;
    top: 6px;
    right: 5px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: url(k1.png) no-repeat left top;
  
    position: absolute;
  }
  .productDetail__sale span {
    color: white;
    font-size: 18px;
  }
  
  #productListCategory {
  }
  #productListCategory .productCategoryDetail {
    margin-top: 30px;
  }
  .productCategoryDetail .productCategoryDetail__header {
    display: flex;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border: solid 1px #e7e7e7;
    justify-content: space-between;
  }
  .productCategoryDetail__header .productCategoryDetail__parent {
  }
  .productCategoryDetail__parent .headerTitle__content {
    background-color: #0288d1;
    height: 46px;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 280px;
  }
  .headerTitle__content h3 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
  }
  .productCategoryDetail__header .productCategoryDetail__children {
    list-style-type: none;
    overflow-y: hidden;
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .productCategoryDetail__children .categoryChildrenName {
    margin: 0 20px;
  }
  .categoryChildrenName a {
    line-height: 46px;
    text-decoration: none;
  }
  .categoryChildrenName a:hover{
      text-decoration: underline;
      color: #f5b700;
      
  }
  .categoryChildrenName a h4 {
    color: #555;
    font-weight: 100;
    text-transform: uppercase;
  }
  .categoryChildrenName a:hover h4{
      color: #f5b700;
  }
  #footer{
  
  }
  #footer .footer__content{
      padding: 30px 0px;
      background-color: #333;
      
  }
  .footer__content .footerContent__infor{
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
  }
  .footerContent__infor .infor__title{
  
  
  }
  .infor__title strong{
      line-height: 30px;
      height: 30px;
      overflow: hidden;
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
      font-weight: normal;
      color: white;
      
  }
  .infor__title span{
      width: 42px;
      height: 3px;
      display: block;
      overflow: hidden;
      background-color: #f5b700;
      margin-bottom: 10px;
  
  }
  .footerContent__infor .infor__contact{
      width: 33%;
  }
  .footerContent__infor .infor__about{
    width: 33%;
    display: flex;
    justify-content: center;
  }
  .infor__about .aboutCompany{
    
  }
  .footerContent__infor .infor__supportBuy{
    width: 33%;
    display: flex;
    justify-content:center;
  }
  .footerContent__infor .infor__content{
     display: flex;
  
  }
  .infor__content ul{
  list-style-type: none;
  }
  .infor__content ul li{
      color: white;
      
  }
  .infor__content ul li strong{
      font-family: Arial;
      font-size: 15px;
      color: white;
      line-height: 200%;
      font-weight: 200;
  }
  


  
@media only screen and (max-width: 46.1875em) {

  #headerMobile{
    display: block;
  }
  #header{
    display: none;
  }
  
#headerMobile .headerMobile__navbar {
  height: 100px;
  background-color: #fff;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.headerMobile__navbar .navbar__logo {
}
.navbar__logo a {
  display: block;
  height: 100px;
}
.navbar__logo a img {
  display: block;
  height: 100%;
  max-width: 300px;
}


#headerMobile .headerMobile__menu {
  height: 50px;
  position: relative;
  background-color: #0288d1;
}
#headerMobile .headerMobile__menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.headerMobile__menu .menu__content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu__content .navbar__iconshow{
  cursor: pointer;
}
.navbar__iconshow .iconshow__icon{
  display: flex;
  align-items: center;
  width: 100%;
}
.iconshow__icon h2{
  color: white;
  margin-right: 2px;
  font-size: 18px;
}
.iconshow__icon i{
  color: white;
}
.menu__content #contentmenuCategoryMobile {
  width: 100%;
  position: absolute;
  top:100%;
  left: -100%;
  right: 0;
  z-index: 100;
  transition: left 0.5s linear;
}
#contentmenuCategoryMobile.showLish{
  left: 0;
}
#contentmenuCategoryMobile > ul {
  font-size: 0;
  max-height: 40vh;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  
  
  background-color: #ffffff;
}
#contentmenuCategoryMobile > ul > li {
  list-style-type: none;
  width: 33.33%;
  height: 10vh;
  padding: 2px;
}
#contentmenuCategoryMobile > ul > li > a {
  padding: 0px 10px;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 15px;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
}

#contentmenuCategoryMobile > ul > li:hover > a {
  background-color: #f5b700;
  color: white;
}
#contentmenuCategoryMobile > ul > li> a.selected{
  background-color: #f5b700;
  color: white;
}


.menu__content .navbar__search {
  display: flex;
  align-items: center;
}
#searchMobile__product {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#searchMobile__product input[type="text"] {
  height: 100%;
  width: 100%;
  color: #666;
  padding: 10px;
  font-size: 14px;
  border: solid 1px #dcdddf;
}
#searchMobile__product .searchMobile__icon {
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
  border: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchMobile__icon i {
  font-size: 20px;
  color: #f36d00;
}
.productCategoryDetail__header .productCategoryDetail__children {
  display: none;
}
  .content__product .product__show {
    display: none;
  }
  .container__content .content__product {
    max-width: 100%;
    
  }
  .headerTitle__content h3 {
    font-size: 18px;
  }
  .productList .productDetail {

    width: 50%;
    height: 250px;
  }
  .productDetail a {
    display: flex;
    justify-content: center;
  }
  .productDetail a img {
    
  }

.productDetail__content .productName {
    
}
.productName a{
    justify-content: start;
    padding-left: 10px;
}
  .productName a strong {
    font-size: 16px;
  }
  .product__priceSale span {
    padding-left: 10px;
    color: red;
    font-size: 18px;
  }

  .footer__content .footerContent__infor {
    width: 90%;
  }
  .footerContent__infor .infor__contact {
    width: 100%;
  }
  .footerContent__infor .infor__about{
    display: none;
  }
  .footerContent__infor .infor__supportBuy {
    display: none;
  }
}